.chat-header-grid {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  padding: 1rem 1.375rem;
  border-bottom: 2px solid #F1F2F3;
}

.chat-header-grid > img {
  display: grid;
  align-items: center;
}

.chat-header-text {
  margin-left: 1.25rem;
}

.user-nickname {
  font-size: 1.125rem;
  margin: 0;
}

.user-status {
  font-size: 1rem;
  margin-top: 0.25rem; 
}

.menu-more-vert {
  display: grid;
  align-items: center;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}